@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Image gallery(Prezi home assignment)</title>
    <!-- libraries -->
    <script src="/Scripts/angular.js"> </script>
    <script src="/Scripts/angular-resource.js"> </script>

    <script src="/Scripts/jquery-2.0.3.js"> </script>

    <!-- application -->
    <script src="/app/services.js"> </script>
    <script src="/app/repository.js"> </script>
    <script src="/app/app.js"> </script>
    <script src="/app/galleryController.js"> </script>

    <!-- style -->
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
</head>
<body ng-app="gallery">
    <div ng-controller="galleryController as controller" class="container">

        <!-- title and search box-->
        <div class="row">
            <div class="col-md-7">
                <h2>Gallery</h2>
            </div>
            <div id="custom-search-input" class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control input-md" placeholder="Search by Title" ng-model="controller.search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="controller.doSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!--End: title and search box-->
        <!-- Error message-->
        <div ng-show="controller.result">{{controller.result}}</div>
        <!-- End: Error message-->
        <!-- Data table-->
        <table class="table  table-striped">
            <tr>
                <th>Thumbnail</th>
                <th> Title</th>
                <th>
                    Creator
                </th>
                <th>
                    <a ng-click="controller.changeOrder()" class="linkbutton">
                        Creation date
                        <i class="glyphicon glyphicon glyphicon-sort-by-order-alt" ng-show="controller.order=='desc'"></i>
                        <i class="glyphicon glyphicon glyphicon-sort-by-order" ng-show="controller.order=='asc'"></i>
                    </a>

                </th>
            </tr>

            <tr ng-repeat="image in controller.images">
                <td><img ng-src="{{image.thumbnail}}" alt="{{image.title}}" class="thumbnail"></td>
                <td> {{image.title}}</td>
                <td>
                    {{image.creator.name}}
                </td>
                <td>
                    {{image.createdAt| date:'MM/dd/yyyy'}}
                </td>
            </tr>
        </table>
        <!--End: Data table-->
    </div>

</body>
</html>